[general]
name = "minilib-net"
version = "0.7.0"
fix_version = "1.3.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/net/html.fix",
    "lib/net/http_server.fix",
    "lib/net/request.fix",
    "lib/net/router.fix",
    "lib/net/tcp.fix",
    "lib/net/url.fix",
]
objects = ["lib.o"]
preliminary_commands = [["make", "lib.o"]]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/net/html_test.fix",
    "tests/net/request_test.fix",
    "tests/net/router_test.fix",
    "tests/net/tcp_test.fix",
    "tests/net/url_test.fix",
]

[[dependencies]]
name = "hashmap"
version = "1.1.4"
git = { url = "https://github.com/tttmmmyyyy/fixlang-hashmap.git" }

[[dependencies]]
name = "asynctask"
version = "1.1.4"
git = { url = "https://github.com/tttmmmyyyy/fixlang-asynctask.git" }

[[dependencies]]
name = "minilib-common"
version = "0.12.0"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }

[[dependencies]]
name = "minilib-io"
version = "0.8.0"
# path = "../fixlang-minilib-io"
git = { url = "https://github.com/pt9999/fixlang-minilib-io.git" }

[[dependencies]]
name = "minilib-xml"
version = "0.6.0"
# path = "../fixlang-minilib-xml"
git = { url = "https://github.com/pt9999/fixlang-minilib-xml.git" }
